/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar Styles */
.navbar {
    background-color: #8f0404; /* Dark red */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}

.navbar .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 4px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
}

/* Header Styles */
.header {
    background-color: #936c01; /* Dark gold */
    color: #fffafa; /* Snow white */
    padding: 20px 20px; /* Reduced padding */
    text-align: center;
}

/* Main Content Styles */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: -30px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #8f0404; /* Dark red */
    border-bottom: 2px solid #8f0404;
    padding-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Footer styles */
footer {
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .container {
        padding: 15px;
        margin-top: -20px;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .container {
        padding: 10px;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .navbar .logo img {
        height: 45px;
    }
}

@media (max-width: 480px) {
    .navbar .logo img {
        height: 40px;
    }

    .header {
        padding: 15px 10px; /* Further reduced padding */
    }

    .container {
        padding: 10px;
    }

    h2 {
        font-size: 1.2em;
    }
}
